<sidebar>
  <p class="about-text">
    Hi, I'm Josh aka the Kingfisher. <br /> Got that name working for these guys → <a href="http://www.freeburmarangers.org" target="_blank">FBR</a>. <br /> Used to work for these guys → <a href="http://www.axismaps.com" target="_blank">Axis Maps</a>. <br /> Currently work for these guys → <a href="http://www.spurs.com" target="_blank">San Antonio Spurs</a>.
  </p>
  <p class="about-text">
    I make maps. Mostly interactive, but some print. Occasionally I'll talk about one of them. I also do web development.
  </p>
  <hr class="sidebar-hr sidebar-hr--first">
  <div class="social-media">
    <a class="social-media--link u-nu" href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> <span>{{ site.email }}</span></a>
    <a class="social-media--link u-nu" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> <span>{{ site.github_username }}</span></a>
    <a class="social-media--link u-nu" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> <span>{{ site.twitter_username }}</span></a>
    <a class="rss-subscribe social-media--link u-nu" href="{{ "/feed.xml" | relative_url }}"><i class="fa fa-rss"></i> <span>RSS feed</span></a>
  </div>
  <hr class="sidebar-hr sidebar-hr--last">
</sidebar>
