// Styles for the main area of the home page

.home-spacer {
  height: 120px;
  width: 100%;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.home-post-wrapper {
  margin-right: 30px;
  position: relative;
  width: 280px;
}

.home-post--card-wrapper {
  align-items: center;
  border: 1px solid $medium-brown;
  display: flex;
  height: 280px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 3;
}

.home-post--image-wrapper {
  align-items: center;
  display: flex;
  height: calc(100% - 40px);
  justify-content: center;
  width: calc(100% - 40px);
}

.home-post--image-wrapper img {
  border: 1px solid $medium-brown;
  max-height: 100%;
  max-width: 240px;
}

.home-post--title {
  color: $dark-brown;
  font-family: $display-font;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  margin-top: 10px;
  text-align: center;
}

/* Contours */
.contours {
  background-repeat: no-repeat;
  position: absolute;
  transition: opacity 400ms ease-in-out;
  height: 100%;
  left: 1px;
  opacity: 0;
  top: 1px;
  width: 100%;
  z-index: 2;
}

.contours-blank {
  background-image: url("contours-blank.png");
  opacity: 1;
  z-index: 1;
}

.home-post-wrapper:hover .contours:not(.contours-blank) {
  opacity: 1;
}

.home-post-wrapper:hover .contours-blank {
  opacity: 0;
}

.contours-print {
  background-image: url("contours-orange.png");
}

.contours-interactive {
  background-image: url("contours-blue.png");
}
