// Layout

body {
  background-color: #f4e8da;
  background: $site-background;
}

.page-content {
  display: block;
}

header {
  z-index: 3;
}

sidebar {
  height: 100%;
  position: fixed;
  width: 300px;
  z-index: 1;
}

main {
  z-index: 2;
}

.wrapper {
  margin-left: 350px;
}

// Mobile styles
@include media-query($on-palm) {
  sidebar {
    display: block;
    height: initial;
    position: relative;
    width: 100%;
  }

  .wrapper {
    margin-left: 0;
  }

  .post .page-content {
    margin-top: 20px;
  }
}
