// Styles for the ribbon navigation/title area

.site-header {
  border: none;
  position: fixed;
  top: 20px;
  width: initial;
  z-index: 10;
}

/* Ribbon */
$ribbon-height: 100px;
$ribbon-border: 4px;
$ribbon-border-height: $ribbon-height + ($ribbon-border * 2);

.ribbon,
.ribbon-border {
  align-items: center;
  display: flex;
}

.ribbon {
  background-color: $light-brown;
  height: $ribbon-height;
  position: relative;
  z-index: 1;
}

.ribbon-border {
  background-color: $medium-brown;
  height: $ribbon-border-height;
  position: absolute;
  top: -($ribbon-border);
  width: 100%;
}

.ribbon::before,
.ribbon-border::before,
.ribbon::after,
.ribbon-border::after {
  border-top-right-radius: $ribbon-border;
  border-bottom-right-radius: $ribbon-border;
  border-style: solid;
  border-width: $ribbon-height / 2;
  box-sizing: border-box;
  content: '';
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  width: 0;
}

.ribbon::before {
  border-color: $light-brown transparent transparent $light-brown;
}

.ribbon-border::before {
  border-color: $medium-brown transparent transparent $medium-brown;
  border-width: $ribbon-border-height / 2;
}

.ribbon::after {
  border-color: transparent transparent $light-brown $light-brown;
}

.ribbon-border::after {
  border-color: transparent transparent $medium-brown $medium-brown;
  border-width: $ribbon-border-height / 2;
}

/* Stuff inside ribbon */

.header-logo img {
  height: 65px;
  margin-right: 20px;
}

.header-title {
  color: $medium-brown;
  font-family: $display-font;
  font-size: 36px;
  line-height: 1;
  margin: 0;
  text-shadow: 1px 1px rgba(249,246,241,0.5), -1px -1px rgba(124, 101, 95, 1);
}

// Mobile styles
@include media-query($on-palm) {
  .site-header {
    margin-top: 20px;
    position: relative;
    top: 0;
  }

  .ribbon::before,
  .ribbon::after,
  .ribbon-border::before,
  .ribbon-border::after {
    display: none;
  }

  .header-title {

  }
}
