// Styles for the sidebar area

sidebar {
  box-sizing: border-box;
  padding: 30px;
  padding-top: 150px; // account for ribbon
}

.sidebar-hr {
  margin-bottom: 20px;
}

.social-media {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.social-media--link,
.social-media--link:visited {
  color: $text-color;
}

.social-media--link i {
  color: $grey-color;
}

.social-media--link:hover,
.social-media--link:active {
  text-decoration: none;
}

.social-media--link span:hover,
.social-media--link span:active {
  text-decoration: underline;
}
