---
layout: default
title: Kingfisher Cartography
---

<div class="home">
  <!-- Add all posts and external links to an array -->
  {% assign posts = "" | split: "" %}
  {% for collection in site.collections %}
    {% for post in collection.docs %}
      {% assign posts = posts | push: post %}
    {% endfor %}
  {% endfor %}

  <!-- Sort all posts and external links by date -->
  {% assign sorted_posts = posts | sort: "date" | reverse %}

  <ul class="post-list">
    {% for post in sorted_posts %}
    <li>
      {% if post.external_link %}
      <a href="{{ post.external_link }}" class="post-link" target="_blank">
      {% else %}
      <a class="post-link" href="{{ post.url | relative_url }}">
      {% endif %}
        <div class="home-post-wrapper">
          <div class="home-post--card-wrapper contours-blank contours-{{ post.type }}">
            <div class="home-post--image-wrapper">
              <img src="{{ post.image | relative_url }}" alt="">
            </div>
          </div>
          <h2 class="home-post--title">
            {{ post.title | escape }}
          </h2>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
