---
layout: default
title: Kingfisher Cartography
---

<div class="home">
  <!-- Add all posts and external links to an array -->
  {% assign posts = "" | split: "" %}
  {% for collection in site.collections %}
    {% for post in collection.docs %}
      {% assign posts = posts | push: post %}
    {% endfor %}
  {% endfor %}

  <!-- Sort all posts and external links by date -->
  {% assign sorted_posts = posts | sort: "date" | reverse %}

  <ul class="post-list">
    {% for post in sorted_posts %}
    <li>
      <div class="home-post-wrapper">
        {% if post.external_link %}
        <a href="{{ post.external_link }}" class="post-link u-nu" target="_blank">
        {% else %}
        <a class="post-link u-nu" href="{{ post.url | relative_url }}">
        {% endif %}
          <div class="home-post--card-wrapper">
            <div class="home-post--image-wrapper">
              <img src="{{ post.image | relative_url }}" alt="">
            </div>
            <div class="contours contours-blank"></div>
            <div class="contours contours-{{ post.type }}"></div>
          </div>
          <h2 class="home-post--title link--{{ post.type }}">
            {{ post.title | escape }}
          </h2>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
